
.NavBar{

    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
   

}

.Menu{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 80%;
    height: 200px;
    
    
}